body {
  display: flex;
  flex-direction: column;
  background-color: #00d5ff;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  text-align: justify;
}

aside {
  flex: 1;
  overflow-y: auto;
  color: black;
}

header {
  display: flex;
  padding-left: 1em;
}
